html {
  margin: 0px;
  font-family: "Figtree";
  font-size: large;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  margin: 0px;
}

.material-icons {
  user-select: none;
}

header {
  width: 100%;
  height: 100px;
}

#header-image {
  position: relative;
  height: inherit;
  left: 2%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#step {
  color: #f1cd5c;
  width: 69%;
  margin: 1px;
  margin-top: 50px;
  font-size: 54px;
}

#hero-text {
  margin-top: 10px;
  width: 69%;
}

#key {
  color: #2455d2;
  user-select: none;
}

#warning {
  background-color: #f3ebd8;
  width: 69%;
  border-radius: 100px;
  padding: 10px;
  display: flex;
}

#spinner-container {
  display: flex;
  justify-content: end;
  width: 85%;
  visibility: hidden;
}

#search-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 4%;
}

product-url-component {
  width: 45%;
}

asin-component {
  width: 45%;
}

#product-container {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 20px;
}

#dropdown-arrow {
  height: 60px;
  margin-top: 50px;
  user-select: none;
  cursor: pointer;
}

#form {
  width: 100%;
  max-height: 33px;
  overflow: hidden;
  transition: max-height 0.4s;
}

#form.hideTextareaContainer {
  max-height: 100000px;
}

#textarea-container {
  background-color: #ffffff;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 420px);
  row-gap: 30px;
  column-gap: 100px;
  border-top: solid 3px #e0e1e1;
  margin-top: 30px;
  padding-top: 50px;
  width: 100%;
}

textarea {
  width: 370px;
  height: 200px;
  padding: 20px;
  outline: none;
  border-style: solid;
  border-color: #cbcbcb;
  border-radius: 3px;
  resize: none;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

#next {
  width: 400px;
  height: 35px;
  background-color: #f6c506;
  border-width: 0px;
  border-radius: 3px;
  font-weight: bold;
  margin: 130px;
  margin-bottom: 30px;
  cursor: pointer;
}

.spinner {
  width: 20px;
  padding: 8px;
  margin: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000000;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.reposition-product {
  position: relative;
  top: -125px;
}
